* {
    margin: 0;
    padding: 0;
}

body {
    
    background-color: #aaa;
}

header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#fff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    margin-bottom: 10px;
    position:relative;
}

header h2{
    font-size: 22px;
    margin: 0px auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}

header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

.example {
    margin: auto 0;
    width: 400px;
}
.player {
    height: 162px;
    position: relative;
    width: 977px;
    z-index: 2;
    background-color: rgba(51,51,51, .4);
    margin: 0 auto;
    top: 100px;
    left: 150px;
}

.title, .artist {
    font-family: verdana;
    left: 167px;
    position: absolute;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.title {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    top: 23px;
}

.artist {
    color: #EEEEEE;
    font-size: 12px;
    top: 40px;
}

.pl {
    cursor: pointer;
    left: 270px;
    position: absolute;
    top: 20px;
    left: 886px;
    color: white;
    text-align: center;
    padding: 5px;
    width: 60px;
    border: 1px solid white;
    border-radius: 5px;
}

.pl:hover {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);

    -webkit-box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
}

.cl {
    margin: 0 auto;
    margin-top: 10px;
    color: white;
    text-align: center;
    padding: 5px;
    width: 60px;
    border: 1px solid white;
    border-radius: 5px;
}

.cl:hover {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);

    -webkit-box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
}

.cover {
    border-radius: 5px 5px 5px 5px;
    height: 94px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 94px;
    background-size: cover;
}

.controls {
    cursor: pointer;
    height: 23px;
    left: 167px;
    position: absolute;
    top: 65px;
    width: 138px;
}

.controls .play, .controls .pause, .controls .rew, .controls .fwd {
    float: left;
    height: 100%;
    width: 33%;
}

.controls .play {
    background-position: -8px -171px;
}

.controls .pause {
    background-position: -8px -198px;
    display: none;
}

.controls .rew {
    background-position: -54px -171px;
}

.controls .fwd {
    background-position: -100px -171px;
}

.controls .play:hover {
    background-position: -8px -170px;
}

.controls .pause:hover {
    background-position: -8px -197px;
}

.controls .rew:hover {
    background-position: -54px -170px;
}

.controls .fwd:hover {
    background-position: -100px -170px;
}

.hidden {
    display: none;
}

.controls .visible {
    display: block;
} 
.volume {
    height: 11px;
    left: 186px;
    position: absolute;
    top: 96px;
    left: 810px;
    width: 150px;
    background: darkgrey;
    border-radius: 5px;
}

.tracker {
    height: 11px;
    left: 20px;
    position: absolute;
    top: 126px;
    width: 940px;
    background: darkgrey;
    border-radius: 5px;
}

.ui-slider-range {
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(255,0,0, 0.7);
    border-radius: 5px;
}

.ui-slider-handle {
    cursor: pointer;
    height: 11px;
    margin-left: -6px;
    position: absolute;
    top: 0px;
    width: 10px;
    z-index: 2;
    background-color: black;
    outline: none;
    left: 98.9899%;
    border-radius: 50%;
}

.volume .ui-slider-handle {
    height: 11px;
    width: 11px;
}

.playlist {
    background-color: rgba(51,51,51, .4);
    list-style-type: none;
    margin: -10px 0 0 2px;
    padding-bottom: 10px;
    padding-top: 15px;
    position: relative;
    width: 961px;
    z-index: 1;

    padding-right: 16px;
    
    top: 111px;
    left: 148px;
}

.playlist li {
    color: #EEEEEE;
    cursor: pointer;
    margin: 0 0 5px 15px;
}

.playlist li.active {
    font-weight: bold;
    border-bottom: 1px solid white;
}

.material-icons {
    position: relative;
    left: -30px;
    top: -5px;
}

.play-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 3px;
}

.play-box:hover {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);

    -webkit-box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 3px 0px rgba(255,255,255,1);
}

i {
    color: white;
}

i:hover {
    color: rgb(0, 0, 0);
}